<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/kwlee/predict/">
        sepal length <input name="sl" type="text"> cm <br>
        sepal width <input name="sw" type="text"> cm <br>
        petal length <input name="pl" type="text"> cm <br>
        petal width <input name="pw" type="text"> cm <br>
        <input type="submit">
    </form>
</body>

</html>